<div class="row">
  <div  *ngIf="!username" class="alert alert-danger text-center">
    <h4>Please sign-in to start chat</h4>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="input-group">
      <span class="input-group-addon" id="badd-username">username</span>
      <input class="form-control" type="text" [(ngModel)]="username" name="username">
    </div>
  </div>
</div>
<h2 class="page-header text-center">Chat room</h2>
<div *ngIf="username">
  <div class="row">
    <input type="text" placeholder="type your message here..." class="form-control"
      [(ngModel)]="message" name="message" (keyup.enter)="sendMessage()"
      class="form-control">
  </div>
  <br>
  <div class="row" *ngFor="let msg of messages">
    <div class="well">
      <strong>{{msg.username}}: </strong>{{msg.text}}
    </div>
  </div>
</div>
